<div class="row">
    {% for key, item in items %}
        <div class="col-12 col-md-6{% if not loop.last %} mb-5 mb-md-0{% endif %}">
            <a class="btn btn-block btn-outline-primary rounded-md icon-hover-white"
               href="{{ item.url|raw }}" target="_blank" rel="nofollow noreferrer noopener">
                <div class="d-flex justify-content-center fs-lg font-weight-bold heading-ff mb-0">
                    {{ render_icon(item.icon, {class: 'svg-icon icon-primary icon-' ~ icon_size}) }}
                    <span class="ml-2 my-auto">{{ item.title|raw }}</span>
                </div>
            </a>
        </div>
    {% endfor %}
</div>

