{% if get_cover_option('bottom_header') %}
    <div class="header-bottom border-top border-bottom py-3{% if get_cover_option('sticky_menu_header') %} sticky-bar{% endif %}">
        <div class="container">
            <div class="position-relative d-flex justify-content-between">
                <div class="d-block d-lg-none centered-absolute t-n50-0 left-0">
                    <a href="#" class="mobile-aside-open">
                        {{ render_icon('fasm/6/set/bars', {class: 'icon-lg icon-dark'}) }}
                    </a>
                </div>
                <div class="logo ml-10 d-block d-lg-none">
                    {% include get_template('../common/logo', _self) with {
                        width: 78,
                        height: 60,
                        logo_type: 'header'
                    } %}
                </div>
                <div class="d-block d-lg-none centered-absolute t-n50-0 right-0">
                    {{ do_action('gfan_header_middle_right') }}
                </div>
                <div class="header-nav d-none d-lg-flex">
                    {% include get_template('category_browser', _self) %}
                    {% if has_nav_menu('main-menu') %}
                        <div class="main-menu lh-3x my-auto d-none d-lg-block font-heading">
                            <nav>
                                {{ wp_nav_menu({
                                    theme_location: 'main-menu',
                                    container_class: ''
                                }) }}
                            </nav>
                        </div>
                    {% endif %}
                </div>

                {% set phone = pmpr_apply_filters('get_contact_information_by_key', {}, get_cover_option('header_contact_us')) %}
                {% if phone %}
                    <div class="d-none d-lg-block">
                        {% include get_template('../common/information', _self) with {info: phone} %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}

