{% set can_render = pmpr_apply_filters('breadcrumb_allow_render', 1) %}
{% if can_render %}
    <div class="breadcrumb-wrap overflow-auto border-bottom bg-white">
        <div class="container">
            {{ pmpr_do_action('breadcrumb_render', {}) }}
        </div>
    </div>
{% endif %}
