<div class="dropdown-menu animated-on-show right-0 rounded-lg mt-10 left-auto custom-dropdown border-0 py-0">
    <form>
        {{ render_frontend_spinner({})|raw }}
        <div class="card rounded-block">
            <div id="cart_content_list_holder"
                 class="card-body bg-transparent px-5 py-7 no-margin">
                {{ the_widget(widget, 'title=')|raw }}
            </div>
        </div>
    </form>
</div>

