<section>
    <div {{ add_animation({class: 'container pb-9'}) }}>
        <div class="row align-items-center">
            <div class="col-12 mb-9">
                <div class="border-top border-light-primary"></div>
            </div>
            <div class="col-md-6 col-xl-4 mb-5 mb-md-0">
                <div class="fs-4x text-center text-md-left">
                    {% include get_template('../common/copyright', _self) with {separator: '<br/>'} %}
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 text-center d-none d-xl-flex">
                {% set phones = get_cover_option('footer_contact_us') %}
                {% if phones %}
                    {% set phones = pmpr_apply_filters('get_contact_information', {}, {include: phones, output: ''}) %}
                    {% for phone in phones %}
                        <div class="d-inline-flex mx-auto mb-4 mb-xxl-0{% if not loop.last %} mr-xxl-6{% endif %}">
                            {% include get_template('../common/information', _self) with {info: phone, icon_color: 'gray'} %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-6 col-xl-4 text-center text-md-right">
                {% set text = get_cover_option('footer_social_text') %}
                {% set socials = get_cover_option('footer_social_items') %}
                {% if text and socials %}
                    {% set socials = pmpr_apply_filters('contact_get_socials', {}, {include: socials, output: ''}) %}
                    <div class="d-flex justify-content-center justify-content-md-end">
                        {% include get_cover_template('common/social') with {text: text, socials: socials} %}
                    </div>
                    {% set social_subtext = get_cover_option('footer_social_subtext') %}
                    {% if social_subtext %}
                        <p class="fs-4x">{{ social_subtext|raw }}</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

