{% if get_cover_option('preloader') %}
    <div id="preloader" class="d-none">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    Loading...
                </div>
            </div>
        </div>
    </div>
{% endif %}
