<div class="col-12">
    <div class="p-8 rounded-xl border">
        <h1 class="display-4 font-weight-bold mb-5">{{ __('No posts yet!', domain) }}</h1>
        <p class="lead">{{ __('We will try our best to put some useful content here, soon.', domain) }}</p>
        <hr class="my-4">
        <p>{{ __('Please bookmark this page and come back later. there will be good stuff here on a couple of days.', domain) }}</p>
        <p>{{ __('Use form below to search for anything else.', domain) }}</p>
    </div>
</div>

