{% if jumbotron is defined
    and jumbotron is not empty %}
    {% set has_container = has_container|default(1) %}
    <header class="page-header">
        {% if has_container %}
        <div class="container">
            {% endif %}
            <div class="center-cover my-8 rounded-xxl d-flex justify-content-between"
                 style="background: url({{ get_cover_option('header_jumbotron_background', '')|raw }})">
                <div class="p-8 px-lg-18 py-lg-20">
                    {% set title_attrs = title_attrs|default({}) %}
                    {% set title_attrs = title_attrs|add('class', 'text-dark mb-5 page-header') %}
                    <h1 {{ title_attrs|parse_attrs|raw }}>{{ jumbotron|raw }}</h1>
                    {% if excerpt is defined and excerpt is not empty %}
                        <div class="fs-sm-8x font-weight-bold text-gray-700 page-description">{{ excerpt|raw }}</div>
                    {% endif %}
                </div>
                {% block column_two %}{% endblock %}
            </div>
            {% if has_container %}
        </div>
        {% endif %}
    </header>
{% endif %}

